<html>
  <head>
    <style>
      /* Scroll bar style */
        /* width */
        ::-webkit-scrollbar {
          width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
    </style>
  </head>
  <body>
    <div id="root">{{{ body }}}</div>
    {{#each scripts}}
      <script src="{{ this }}"></script>
    {{/each}}
  </body>
</html>
